.bg-conatiner {
  background-color: #d9f6f7;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img {
  width: 400px;
  border-radius: 8px;
}

.flex {
  display: flex;
  gap: 20px;
  background-color: #69929b;
  padding: 8px;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 2rem;
  row-gap: 10px;
  color: #fff;
}

.styled-input {
  border: none;
  outline: none;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  background-color: #afc6d1;
  font-weight: 600;
}

.login-btn {
  height: 35px;
  background-color: #1e6689;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.labels {
  font-weight: 600;
  font-size: 16px;
}

.checkbox-con {
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 10px;
}

.show-label {
  cursor: pointer;
}

.error-para {
  color: rgb(175, 26, 26);
  font-weight: 600;
}

.signup-text a {
  color: #2c7be5;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.login-btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}
